<%- include('./partials/header') %>

<section title="detail page">
    <a href="/../../">⬅️</a>   
    <h1><%= nameRepo %></h1>
    <p><%= dataRepo.description %></p>
    <a href="<%= dataRepo.projectsUrl %>"><%= dataRepo.projectsUrl %></a>
    <p>This repo has been forked <%= dataRepo.forkCount %> times</p>
    <p>⭐<%= dataRepo.stargazerCount %></p>
</section>
<section>
    
</section>

<%- include('./partials/footer') %>