<%- include('./partials/header') %>

<section>   
    <h1><%= nameRepo %></h1>
    <p><%= dataRepo.description %></p>
    <p><%= dataRepo.projectsUrl %></p>
    <p><%= dataRepo.forkCount %></p>
    <p><%= dataRepo.stargazerCount %></p>
</section>

<%- include('./partials/footer') %>