<%- include('./partials/header') %>

<section title="detail page">   
    <h1><%= nameRepo %></h1>
    <p><%= dataRepo.description %></p>
    <p><%= dataRepo.projectsUrl %></p>
    <p><%= dataRepo.forkCount %></p>
    <p><%= dataRepo.stargazerCount %></p>
</section>
<section>
    
</section>

<%- include('./partials/footer') %>