<%- include('./partials/header') %>
<section>   

</section>
    <section title="subjects">
        <ul>
            <% subjects.forEach(function(subject, index) { %>
                <a href = "/detail/<%= names[index] %>">
                    <li>
                        <h2><%= names[index] %></h2>
                        <ul>
                            <% var lastUser %>
                                <% for(let i = 0; i < 10; i++) { %>
                                    <li>
                                        <% if(subject[i] && lastUser != subject[i].user){ %>
                                            <p><%= subject[i].user %></p>
                                            <p><%= subject[i].commits %></p>
                                            <% lastUser = subject[i].user%>
                                        <% } %>
                                    </li>
                                <% } %>
                        </ul>
                    </li>
                </a>
            <% }) %>
        </ul>
    </section>
<%- include('./partials/footer') %>