<%- include('./partials/header') %>
<section title="total commits">   
    <h1>Commitcounter</h1>
    <p>Everyone has been working hard to finish their projects for the minor. On this webpage you're able to see how many commits people have made to their repositories</p>
    <svg width="600" height="500" preserveAspectRatio="xMinYMin meet" viewBox="0 0 500 400"></svg>
    <ul>
    </ul>
</section>
    <section title="subjects">
        <ul>
            <% subjects.forEach(function(subject, index) { %>
                    <li>
                        <a href = "/detail/<%= names[index] %>">
                        <h2><%= names[index] %></h2>
                        <ul>
                            <% var lastUser %>
                                <% for(let i = 0; i < 10; i++) { %>
                                    <li>
                                        <% if(subject[i] && lastUser != subject[i].user){ %>
                                            <p><%= subject[i].user %></p>
                                            <p><%= subject[i].commits %></p>
                                            <% lastUser = subject[i].user%>
                                        <% } %>
                                    </li>
                                <% } %>
                        </ul></a>
                    </li>
                </a>
            <% }) %>
        </ul>
    </section>
<%- include('./partials/footer') %>