<%- include('./partials/header') %>
<section>   

</section>
    <section title="subjects">
        <ul>
            <% subjects.forEach(function(subject, index) { %>
                <li>
                    <h2><%= names[index] %></h2>
                    <ul>
                        <% subject.forEach(data => { %>   
                            <li>
                                <p><%= data.user %></p>
                                <p><%= data.commits %></p>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
    </section>
<%- include('./partials/footer') %>